<!DOCTYPE html>

<html xmlns:ng="http://angularjs.org">
	
	<head>
		<title>Software Engineer</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="MobileOptimized" content="320"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="short icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="style/sitename_main.css"/>
		<link media="only screen  and (min-width : 1365px)" rel="stylesheet" type="text/css" href="style/screen_main.css"/>
		<link media="only screen and (max-width : 1365px)" rel="stylesheet" type="text/css" href="style/handheld_main.css"/>
		
		<!-- angular -->
		<script type="text/javascript" src="script/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="script/angular.min.js"></script>
		<script type="text/javascript" src="script/angular-route.js"></script>
		<script type="text/javascript" src="script/angular-animate.min.js"></script>
		<!--/ angular -->
		
		<!-- sitescript -->
		<script type="text/javascript" src="script/error.js"></script>
		<script type="text/javascript" src="script/preload-images.js"></script>
		<script type="text/javascript" src="script/main.js"></script>
		<!--/ sitescript -->
	</head>
	
	<body ng-app="sitename_mainApp" class="force-overflow scrollbar">
		<div id="sitename"  ng-controller="navigationCtrl" >
			
			<!-- Navigation -->
			<div id="sitename-navigation-wrapper" class="animate-show-hide-top">
				<ul id="sitename-navigation-path" class="sitename-navigation-path">
							<li ng-repeat="pathItem in navigationPath">
								<a href="#!/{{pathItem.Name}}">{{pathItem.Title}}</a>
								&nbsp;/&nbsp;
							</li>
							<li style="float:right;">
								<span>&copy; Leonid Pasichnyi, 2017-<span id="current-year"></span> &nbsp;</span>
							</li>
				</ul>
				<div id="sitename-navigation" class="centered">
					<!-- Name box -->
					<div id="sitename-navigation-name-box" class="navigation-menu-li" style="display: none !important;">
						<a ng-model="homePage" href="#!{{homePage.Name}}">{{homePage.Title | uppercase}}</a>
					</div>
					<!-- /Name box -->
					<div id="sitename-navigation-menu">
						<!-- /Menu -->
						<!-- <a href="#!/main" id="sitename-navigation-close-button"></a> -->
						<ul>
							<li ng-repeat="page in mainPages" class="navigation-menu-li">
								<a href="#!/{{page.Name}}">{{page.Title | uppercase}}</a>
							</li>
						</ul>
						<!-- /Menu -->
					</div>
				</div>
				
				<ul id="sitename-navigation-path" class="sitename-navigation-path">
							<li  class="">
								&nbsp;
									
							</li>
							
							<li style="float:right;">
								<select>
								  <option>EN</option>
								</select>
							</li>
				</ul>
				
			</div>
			<!-- /Navigation -->
			
			<!-- Content -->
			<div id="sitename-content-wrapper" >
				<main ng-view id="sitename-content" class="animate-show-hide-bottom"></main>
			</div>
			<!-- /Content -->
			<player source="trackbase" class="player right"></player>
			<img 
				id="playerImgEsc"
				src="/content/image/icon/icon_row/icon_Esc.png" 
				title="Esc" 
				alt="Esc"
				onclick="esc(this);"
			/>
		</div>
		
		

	</body>
</html>

