#sitename-content{
	padding: 0.5em;
	margin: calc(0.5em/2) 0 0 0;
	height: calc(100vh - 4em - 0.5em*6);
	width: calc(100% - 0.5em - 0.5em - 0.5em*2);
	word-wrap: break-word;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
}
ul.no-list{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
ul.images-list{
	text-align: center;
}
ul.images-list li > a > img{
	width: 3em;
}
.image-table td{
	padding: 1rem;
}
.image-table-small td{
	padding: 0;
	margin: 0;
	width: fit-content;
	height: fit-content;
	vertical-align: middle;
}
.image-table-small td > img{
	width: 1.5rem;
	height: 1.5rem;
	vertical-align:middle
}
.image-table-small span{
	vertical-align:middle;
}
.image-table-small *{
	padding: 0;
	margin: 0;
}
.image-table-small{
	padding: 1em;
}
.centered{
	display: table;
	margin: auto;
}
div.contact-details-map{
}
div.contact-details-map{
	float:right;
	position:relative;
	top:20px;
	z-index:10;
	;
}
#map,div.map-contact{
	width:-webkit-fill-available;
	height:16.5rem;
	margin:0;
}
.annotation{
}
.annotation div{
	margin: 0em;
}
.annotation p{
	margin: 0;
}
.right{
	text-align: right;
}

.bg{
	background-color: rgba(0,0,0,0.75);
}
.content-header-1{
	margin-bottom: 2.5vh;
	/*margin-top: 2.5vh;
	*/
	text-align: center;
}
